.main-noticia {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 0.4fr 0.2fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "banner-noticia"
      "imagen-noticia"
      "texto-noticia"
      "texto2-noticia"; 
  }

.banner-noticia { grid-area: banner-noticia; 
    border: 1px black solid;
    margin: 10px;
    font-size: 20px;
    background-color: brown;
    color:white;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);}


.imagen-noticia{
    grid-area: imagen-noticia;
    img{
        width: 200px;
        height: 300px;
        justify-items: center;
        align-items: center;
    }
}

.texto-noticia { grid-area: texto-noticia; }
.texto2-noticia { grid-area: texto2-noticia; 
    display: none
}


@media only screen and (min-width:1441px){
    .main-noticia {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.1fr 1fr 0.2fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "banner-noticia banner-noticia"
        "imagen-noticia texto-noticia"
        "texto2-noticia texto2-noticia"; 
    }
        .banner-noticia { grid-area: banner-noticia; 
            border: 1px black solid;
            margin: 10px;
            font-size: 30px;
            background-color: brown;
            color:white;
            text-shadow: 0 0 10px rgba(0,0,0,0.7);
            }

        .texto-noticia { grid-area: texto-noticia; 
            font-size: 30px;
            text-align: left;
            align-self: center;
            justify-self: center;}

        .texto2-noticia { grid-area: texto2-noticia;
            display: block; 
            font-size: 25px}

            .fondo-izquierda { grid-area: fondo-izquierda; 
                background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(215,215,215,1) 97%, rgba(115,115,115,1) 100%);}
            .fondo-derecha {grid-area: fondo-derecha;
                background: linear-gradient(90deg, rgba(115,115,115,1) 0%, rgba(215,215,215,1) 3%, rgba(215,215,215,1) 100%);}
            }
        